.sidebar {
    width: 70%;
    max-width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -70%;
    background-color: #282828;
    z-index: 1001;
    transition: left .3s;
    .sidebar-header {
        width: 100%;
        background-color: #282828;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav {
        flex-direction: column;
        border-bottom: 1px solid #525252;
        .nav-item {
            padding: 2em;
            border-bottom: 1px solid #000;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
            &:hover {
                cursor: pointer;
                @extend .active;
            }
        }
        .active {
            background-color: #353535;
            a {
                color: #FFF;
            }
            > i {
                position: absolute;
                right: 0;
                top: 13%;
                color: #FFF;
            }
        }
        .nav-item:not(:first-child) {
            border-top: 1px solid #525252;
        }
        .nav-item-home {
            border-left: 5px solid #07c638;
            a {
                color: #FFF;
            }
        }
        .nav-item-analytics {
            border-left: 5px solid #ddbe10;
        }
        .nav-item-messages {
            border-left: 5px solid #09aac7;
        }
        .nav-item-settings {
            border-left: 5px solid #fc4236;
        }
        .nav-item-link {
            color: #7a7a7a;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            i {
                font-size: 3em;
            }
            .notify {
                background: red;
                color: #fff;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                position: absolute;
                top: 0;
                left: 0;
                margin-left: 20%;
                margin-top: -3%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    @include media-breakpoint-up('lg') {
        left: 0;
    }
}

.opened-side-menu {
    &:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color .5s ease-in;
    }
    .sidebar {
        left: 0;
    }
}