@import "../components/bootstrap/scss/bootstrap";
@import "side-menu";
@import "header";
@import "messages";
@import "main";

html,
body {
    background-color: #f7f7f9;
}

body {
    padding-top: 70px;
    main {
        padding: 10px;
    }
}

.container {
    position: relative;
    margin-left: 0 0;
    padding: 0 0;
    width: 100%;
}

@include media-breakpoint-up('sm') {
    .container {
        width: 100%;
    }
}

@include media-breakpoint-up('lg') {
    .container {
        width: 80%;
        margin-left: 200px;
        ;
    }
}